{% extends "base.html" %}
{% load static %}
{% block style %}
    ol h4{
        margin: 0px;
        margin-bottom: 10px;
    }

    ul h4{
        margin: 0px;
        margin-bottom: 10px;
    }

    ul li{
        font-size: 24px;
    }

    ol li{
        font-size: 24px;
    }
{% endblock %}

{% block content %}
    <h1>Главная страница по вакансии</h1>
    <p class="text-style"> C# разработчик — это профессионал в области программирования, специализирующийся на создании программного обеспечения, 
        приложений и систем с использованием языка программирования C#. 
        Этот язык был разработан корпорацией Microsoft и широко используется для разработки различных приложений, 
        от настольных до облачных и мобильных.</p>

    <p style="margin:0; text-align: center;"><img src="{% static 'graphics/img/razrab_csharp.png'%}" style="margin: 50px 50px 50px 50px;" width="1200" height="800"></p>

    <h2>Основные направления работы C# разработчика</h2>
    <ol>
        <li> <h4>Разработка веб-приложений</h4> 
        C# часто используется совместно с платформой .NET для создания веб-приложений и веб-сервисов. Технологии, такие как ASP.NET Core, позволяют разрабатывать современные, производительные и кроссплатформенные решения для бизнеса.</li>

        <li> <h4>Создание настольных приложений</h4> 
        С использованием Windows Presentation Foundation (WPF) и Windows Forms, C# разработчики создают удобные пользовательские интерфейсы для настольных программ.</li>

        <li> <h4>Мобильная разработка</h4>  
        С помощью Xamarin, разработчики могут создавать мобильные приложения для Android и iOS, используя единый код на C#. Это особенно актуально для стартапов и компаний, которые хотят быстро выйти на рынок с кроссплатформенными решениями.</li>  

        <li> <h4>Игровая индустрия</h4> 
        C# является основным языком для разработки игр на платформе Unity. Благодаря удобству языка и мощным инструментам Unity, C# разработчики создают как инди-игры, так и крупные проекты с миллионами игроков. </li> 

        <li> <h4>Корпоративные системы и базы данных</h4>  
        C# активно используется в разработке крупных корпоративных систем, включая CRM, ERP и другие приложения для автоматизации бизнеса. Такие системы интегрируются с базами данных через Entity Framework и другие ORM-инструменты.</li> 

        <li> <h4>Облачные технологии и микросервисы</h4> 
        С развитием облачных технологий C# разработчики всё чаще создают приложения, которые работают на платформах Azure, AWS и Google Cloud. Микросервисная архитектура позволяет разрабатывать масштабируемые и надежные решения.</li>
    </ol>

    <h2>Навыки и знания C# разработчика</h2>

    <p class="text-style">Для успешной работы C# разработчик должен обладать следующими навыками:</p>

    <ol>
        <li> <h4>Основы программирования</h4> 
        Понимание алгоритмов, структур данных и принципов объектно-ориентированного программирования (ООП).</li>

        <li> <h4>Владение C#</h4> 
        Знание синтаксиса языка, основных библиотек (например, LINQ, Async/Await) и возможностей .NET Framework и .NET Core.</li>

        <li> <h4>Работа с базами данных</h4> 
        Умение работать с реляционными (SQL Server, PostgreSQL) и нереляционными (MongoDB, Redis) базами данных.</li>

        <li> <h4>Инструменты и технологии</h4>  
        Владение такими инструментами, как Visual Studio, Rider и Git. Опыт работы с Docker, Kubernetes и CI/CD — дополнительный плюс.</li>

        <li> <h4>Мягкие навыки:</h4> 
        Коммуникабельность, умение работать в команде, адаптивность к изменениям требований.</li>
    </ol>

    <h2>Преимущества профессии</h2>
    <ul>
        <li> <h4>Высокий спрос на рынке труда</h4> 
        C# разработчики востребованы во многих сферах: от IT-стартапов до крупных корпораций.</li>

        <li> <h4>Гибкость и универсальность</h4> 
        Владение C# открывает двери в различные области разработки, включая игры, мобильные приложения и облачные технологии.</li>

        <li> <h4>Хорошая зарплата</h4> 
        Зарплаты C# разработчиков варьируются в зависимости от уровня опыта и региона, но в среднем они выше среднего по отрасли.</li>

        <li> <h4>Постоянное развитие</h4> 
        Платформа .NET активно развивается, предоставляя разработчикам новые возможности для обучения и профессионального роста.</li>
    </ul>

    <h2>Сложности профессии</h2>
    <ul>
        <li> <h4>Высокие требования к знаниям</h4> 
        Быть хорошим C# разработчиком — значит постоянно учиться и следить за обновлениями в платформе и языке.</li>

        <li> <h4>Большая конкуренция</h4> 
        Несмотря на высокий спрос, конкуренция в IT-сфере заставляет разработчиков постоянно совершенствовать свои навыки.</li>

        <li> <h4>Сложность проектов</h4> 
        Крупные проекты требуют тщательного планирования, тестирования и внимания к деталям.</li>
    </ul>

    <h2>Кто подходит для профессии?</h2>

    <p class="text-style">Профессия C# разработчика подходит людям с логическим мышлением, 
        вниманием к деталям и страстью к созданию инновационных решений. 
        Она идеально подойдёт тем, кто готов учиться новому, умеет работать в команде и любит разбираться в сложных задачах.</p>

    <hr>

    <p class="text-style" style="margin-top: 20px"> Таким образом, профессия C# разработчика — это не только возможность создавать технологии, которые меняют мир, 
        но и путь к стабильной и успешной карьере в IT-индустрии.</p>
    
        <p style="margin:0; text-align: center;"><img src="{% static 'graphics/img/end_photo.png'%}" widht="300" height="300px"></p>
{% endblock %}